Hello World

<ul>
  <% num = 1 %>
  <% @table.each do |round| %>

     <li>
      <%= "Round #{num}" %>

      <% if round.is_a?(Array) %>

        <% round.each do |matchup| %>

          <% if matchup[0] %>
            <form action='/table' method='POST'>
              <input type="submit" name="winner" value=<%= matchup[0] %> >
            </form>
            vs
            <form action='/table' method='POST'>
              <input type="submit" name="winner" value=<%= matchup[1] %>>
            </form>
          <% end %>

        <% end %>

      <% else %>
        <div style="color:red"><%= round %></div>
      <% end %>
    </li>
    <% num += 1 %>

  <% end %>
</ul>

<form action='/update_round' method='POST'>
  <input type="submit" value="submit">
</form>