<h1>Sign in</h1>

<head>
<meta charset="utf-8">
 <title>Table Tennis</title>
 <link href="stylesheets/index.css" rel="stylesheet" type="text/css">
</head>
<form action= '/users/table'>
  <label>Name:<input type='text' name="name">
  <input type='submit' value='Play'>
</form>